<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>New Product</h1>
    <form action="/new" method="post">
        Id <input type="text" name="txtId" id="">
        <br>
        Name <input type="text" name="txtName" id="">
        <br>
        Price <input type="text" name="txtPrice" id="">
        <br>
        <input type="submit" value="Save">
    </form>
</body>
</html>